<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <%include header.ejs%>

  <p>Welcome to <%= title %> <br> <%= title %> is a website developed by <%= author%> that facilitates the scheduling of roommate tasks. <br>
      It automatically assigns the roommate with the least amount of work done and works around the individual schedules of roommates. </p>

  <br>
  <h3>Login for returning users</h3>
  <a href = "/login">Login</a>
  <br>
  <h3>Register for new room!</h3>
  <a href = "/register1">Register</a>


  </body>
</html>
